.inner-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100%;
}
.crop-container {
  padding-bottom: 24px;
  position: relative;
  margin-bottom: 1rem;
}
.progress-indicator {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 0;
}
