.file-modal {
  width: 432px;
}

.thumbnail-item a {
  position: relative;
}

.thumbnail-item a:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(download.svg) no-repeat bottom right / 36px;
  z-index: 2;
  top: 0;
  left: 0;
}
.thumbnail-item a:hover:before {
  content: "";
  background: rgb(35 39 115 / 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.thumbnail-item a:hover img {
  border-color: var(--primary);
}
